<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>youtube.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>youtube-nocookie.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>googleapis.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>We need access to your calendar to add church events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>We need access to your calendar to add church events.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UISupportsPictureInPictureVideo</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>AVAudioSessionCategory</key>
	<string>AVAudioSessionCategoryPlayback</string>
	<key>AVAudioSessionMode</key>
	<string>AVAudioSessionModeDefault</string>
	<key>WKAppBoundDomains</key>
	<array>
		<string>www.youtube.com</string>
		<string>m.youtube.com</string>
		<string>youtubei.googleapis.com</string>
		<string>www.youtube-nocookie.com</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.rtsda.appr.fetch</string>
		<string>com.rtsda.appr.processing</string>
	</array>
	<key>AVAudioSession</key>
	<dict>
		<key>Category</key>
		<string>AVAudioSessionCategoryPlayback</string>
		<key>Mode</key>
		<string>AVAudioSessionModeDefault</string>
		<key>OptionsOverride</key>
		<integer>1</integer>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youversion</string>
		<string>com.googleusercontent.apps.96814818762-k7l0r7no343dms51ss59q6c5dslujcu7</string>
		<string>egw-writings</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.rtsda.appr</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.rtsda.appr</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access for audio playback routing.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormVideo</string>
</dict>
</plist>
